# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.exe

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Folders
_obj
_test
.idea
logs
.vscode
*.etcd

